body {
    background-color: rgb(22, 28, 45); /* Dark background color */
    color: rgb(252, 252, 252); /* Light text color */
    padding-left: 10px;
    padding-right: 10px;
}

.linkContainer a, .linkContainer p {
    display: block;
    text-align: center;
}

a {
    color: rgb(173, 216, 230); /* Light blue link color */
}

.persistent a {
    width: 100%;
    text-align: left;
    display: inline;
}

.persistent {
    margin-top: 10px;
}

.prev {
    margin-right: 10px;
}

.chapterLinks {
    border-top: 1px solid rgb(173, 216, 230); /* Light blue border */
    text-decoration: none;
    background-color: rgb(30, 40, 60); /* Dark background for links */
}

img {
    max-width: 100%; /* Ensures the image scales with the width of the container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Centers the image */
    margin-left: auto;
    margin-right: auto;
}

.chapterLinks:hover {
    filter: opacity(0.75);
}

p, h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
}

.styledLink {
    background-color: rgb(30, 40, 60); /* Dark background for styled links */
    color: rgb(173, 216, 230); /* Light blue text */
    border-radius: 0.2rem;
    padding: 0.2rem;
    text-decoration: none;
}

.styledLink:hover {
    filter: opacity(0.75);
}

ul {
    list-style-type: none; /* Removes the default list-style */
    padding-left: 20px; /* Adds some padding for nested lists */
    width: max-content; /* Ensures the ul takes the width of its largest item */
}

li {
    margin-bottom: 5px; /* Adds some space between list items */
}

a {
    text-decoration: none; /* Removes the underline from links */
    white-space: nowrap; /* Prevents the text inside the link from wrapping */
}

a:hover {
    outline: 1px solid rgb(173, 216, 230); /* Light blue outline on hover */
}

/* Style for the container to enable horizontal scrolling */
.container {
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Ensures that content in the container does not wrap */
}
