body{
    background-color:rgb(252, 252, 252);
    padding-left: 10px;
    padding-right: 10px;
}

.linkContainer a, .linkContainer p{
    display:block;
    text-align:center
}

a{
    color:rgb(22, 28, 45)
}

.persistent a{
    width:100%;
    text-align:left;
    display:inline;
}

.persistent{
    margin-top:10px;
}

.prev{
    margin-right:10px
}

.chapterLinks{
    border-top: 1px;
    text-decoration:none;
    background-color:rgb(235, 235, 235);
}

img{
    max-height:50vh;
}

.chapterLinks:hover{
    filter:opacity(0.75);
}

p, h1, h2{
    font-family: 'Open Sans', sans-serif;
}

header{
    text-align:center;
}

.styledLink{
    background-color:rgb(235, 235, 235);
    border-radius:0.2rem;
    padding:0.2rem;
    text-decoration:none;
}

.styledLink:hover{
    filter:opacity(0.75);
}

ul {
    list-style-type: none; /* Removes the default list-style */
    padding-left: 20px; /* Adds some padding for nested lists */
    width: max-content; /* Ensures the ul takes the width of its largest item */
}

li {
    margin-bottom: 5px; /* Adds some space between list items */
}

a {
    text-decoration: none; /* Optional: Removes the underline from links */
    white-space: nowrap; /* Prevents the text inside the link from wrapping */
}

a:hover {
    outline: 1px solid #000; /* Adds an outline on hover */
}

/* Style for the container to enable horizontal scrolling */
.container {
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Ensures that content in the container does not wrap */
}
